@import "kube";

$background_color: #F2F2F2;

body {
  background-color: $background_color;
  font-family: -apple-system, Sans-Serif;
}

.information {
  text-align: center;
  margin: 50px auto;

  & > h2 {
    color: #555;
  }

  & h3 {
    margin-top: 50px;
    margin-bottom: 50px;
  }
}

.userinfo {
  text-align: center;
  margin: 50px auto;

  & a {
    text-decoration: none;
    color: #AAA;
    font-weight: 100;
  }
}

.post-article {
  text-align: center;
  margin: 50px auto;

  & .button {
    @include button(#fff, #E66C9F);
  }
}

.modal {
  & .modal-body {
    text-align: center;
  }
  & .button {
    @include button(#fff, #E66C9F);
    margin: 10px;
  }
}

.modal-header {
  text-align: center;
}

.container {
  max-width: 1000px;
  margin: 10px auto;
}

#media-grid {
    @include grid-media-columns(5);

    & > div {
      margin: 0 auto 15px;
      padding: 10px;
      background: $background_color;
      text-align: center;

      & img {
        min-height: 171px;
        border: solid;
        box-shadow: 0px 0px 15px -5px #CCCCCC;
        border-width: thin;
        border-color: #EEEEEE;
        border-radius: 6px;
      }

      & p {
        color: #555;
      }
    }
}
