.content {
  max-width: 80%;
  margin: auto;
}

.information {
  text-align: center;
  margin: 50px auto;
}

.information > h2 {
    color: #555;
}

.information h3 {
    margin-top: 50px;
    margin-bottom: 50px;
}

div.cover-image {
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  height: 100%;
}

.search-forms {
  margin: 30px 10px;
}

input.keyword {
  width: 100%;
}

button.search {
  width: 100%;
}

div.article {
  min-height: 200px;
  border:1px solid #F5F5F5;

  box-shadow:0px 0px 29px 1px #ebebeb;
  -moz-box-shadow:0px 0px 29px 1px #ebebeb;
  -webkit-box-shadow:0px 0px 29px 1px #ebebeb;
}

div.article img {
  margin-right: 10px;
  object-fit: cover;
  height: 342px;
  width: 100%;
}

img.detail {
  display: block;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: -10px;
  height: auto;
  width: 30%;
}

.source-links {
  margin-top: 30px;
}

div.info {
  margin: 30px;
}

div.article a.btn {
  margin: 30px;
  width: auto;
  bottom: 0;
}

div.notfound {
  text-align: center;
}

a {
  text-decoration: none;
}

div.info p.small {
  overflow : hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 5;
  color: #666666;
}
